nav {
    /* background-color: #d4e9f5; */
    background-color: #FFF;
    display: flex;
    flex-direction: column;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.MainMenu img {
    -webkit-box-shadow: 0 2px 2px 0 rgba(46,177,255,0.74), 0 3px 1px -2px rgba(46,177,255,0.72), 0 1px 5px 0 rgba(46,177,255,0.8);
    box-shadow: 0 2px 2px 0 rgba(46,177,255,0.74), 0 3px 1px -2px rgba(46,177,255,0.72), 0 1px 5px 0 rgba(46,177,255,0.8);
    border-radius: 13px;
    width: 180px;
}

.divMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1% 5% 0 5%;
    min-height: 50px;
}

.MainMenu h1 {
    font-size: 2em;
    color: #2eb1ff;
    border-bottom: 2px #c8c8c8 solid;
    margin: 1% 0;
    padding: 0 10% 1% 10%;
    width: 100%;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60%;
    font-size: 0.7em;
}

.sub-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.day-selected {
    border-radius: 15px 15px 0 0;
    background-color: #2eb1ff;
    color: #FFF !important;
}

#divMenu-button {
    align-items: flex-end;
}

.div-button {
    padding: 1%;
    width: calc(100%/3);
    text-align: center;
    color: #2eb1ff;
    cursor: pointer;
    text-decoration: none;
}

.social-media {
    padding: 1%;
    width: calc(100%/3);
    text-align: center;
    color: #2eb1ff;
    display: flex;
    justify-content: space-around;
}


@media (min-width:576px) {
    .ArtCard {
        margin: 1.5% 5%;
        width: 40%;
    }
  }
  
  @media (min-width:768px) {
    #title {
        width: 60%;
        font-size: 1em;
    }
  }
  
  /* @media (min-width:992px) {
    .ArtCard {
        margin: 1.5% 2%;
        width: 21%;
    }
  }
   
  @media (min-width:1200px) {

    .ArtCard {
        margin: 1.5%;
        width: 17%;
    }
  } */