nav {
    background-color: #d4e9f5;
    display: flex;
    flex-direction: column;
}

img {
    width: 180px;
}

.divMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1% 5%;
}