nav {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

img {
    width: 180px;
}

.divMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1% 5%;
}