.detail {
    position:fixed ;
    width: 10%;
    z-index: -1;
}

.leftMedium {
    top: 40%;
    left: 0;
}

.rightBottom {
    bottom: 5%;
    left: 70%;
    width: 20%;
    
}

.rightTop {
    top: 5%;
    right: 0;
}