.AuthorCard {
    margin: 4% 17%;
    width: 66%;
    background-color: #FFF;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    border-radius: 3px;
}
.AuthorCard a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-decoration: none;
    color: #2eb1ff;
}

.AuthorCard a:hover {
    opacity: 0.8;
    border-radius: 2px;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

}

.AuthorCard img {
    border-style: none;
    width: 100%;
    height: 180px;
    border-radius: 3px 3px 0 0;
}
.AuthorCard h1 {
    font-size: 1.5em;
    text-align: center;
    display: flex;
    height: 100px;
    align-items: center;
    
    padding: 0 3%;
}



@media (min-width:576px) {
    .AuthorCard {
        margin: 1.5% 5%;
        width: 40%;
    }
  }
  
  @media (min-width:768px) {
    .AuthorCard {
        margin: 1.5% 2%;
        width: 29.333%;
    }
  }
  
  @media (min-width:992px) {
    .AuthorCard {
        margin: 1.5% 2%;
        width: 21%;
    }
  }
   
  @media (min-width:1200px) {

    .AuthorCard {
        margin: 1.5%;
        width: 17%;
    }
  }