.project {
    background-color: #d4e9f5;
    display: flex;
    
    flex-direction: column;
    color: #2eb1ff;
}

.DescriptionArt img {
    width: 70%;
}

.DescriptionArt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;
    margin: auto;
}