.FooterMenu {
    display: flex;
    padding: 5px 20px ;
    color: white;
}

.FooterMenu h1 {
    text-align: center;
}

.FooterMenu p {
    text-align: justify;
    text-indent: 2.5em;
    font-weight: 700;
    padding: 3%;
    border-radius: 6px;
    transition: background-color 2s;
}

.FooterMenu p:hover {
    background-color: rgba(212, 233, 245, 0.6);
}