.App {
  /* width: 60%; */
  margin: 30px auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.Home {
  background-color: #d4e9f5;
  display: flex;
  flex-direction: column;
  
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

}

.AuthorCards {
  display: flex;
  flex-wrap: wrap;
}

.Gallery {
  background-color: #d4e9f5;
  display: flex;
  flex-direction: column;

  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.ArtCards {
  display: flex;
  flex-wrap: wrap;
}

html {
  background-color: #2eb1ff;
}

.container {
  width:100%;
  max-width:none;
  margin:0 auto;
  padding:15px
}

@media (min-width:576px) {
  .container {
    max-width:540px;
  }
}

@media (min-width:768px) {
  .container {
    max-width:720px;
  }
}

@media (min-width:992px) {
  .container {
    max-width:960px;
  }
}
 
@media (min-width:1200px) {
  .container
  {
    max-width:1140px;
  }
}